<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body class="container">
    <!-- <%- include('partials/navigation.ejs') %> -->

    <main>
      <div class="ui center aligned container">
        <h1>Write FCM Message for Yandex PVZ android app</h1>
        <form class="ui form" method="POST" action="/api/message/post-message">
          <div class="field">
            <label>Message Title</label>
            <input
              type="text"
              name="title"
              placeholder="Message Title"
              required
            />
          </div>
          <div class="field">
            <label>Message Description</label>
            <textarea
              rows="5"
              name="message"
              placeholder="Message ....."
              required
            ></textarea>
          </div>

          <button class="ui button" type="submit">Submit</button>
        </form>

        <% if(message) { %>
        <h3><%= message %></h3>
        <% } %>
      </div>
    </main>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
